doctype html
html
  head
    title Roshan Dance Academy
    block scripts
    block style
      
  body
    block content
    footer#footer
      Copyright @ 2023 RoshanDanceAcademy.com | All rights  reserved
    