
@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');

*{
    margin :0;
    padding:0;
    box-shadow: border-box;
}
#logo{
    display: flex;
    color: white;
    align-items: center;
    margin: 0px 14px;
    font-size: 28px;
    margin-right: 40px;
}
#logo img{
    height: 60px;
    /*filter: invert(1);*/
    
}
#navbar{
    background-color:rgb(222, 87, 87);
    padding: 18px  14px ;
    font-family: 'Baloo 2', cursive;
}
#navbar ul{
    display: flex;
    flex-direction: row;
    /*justify-content: center;*/
    justify-items: center;
}

#navbar li{
    list-style: none;
}

#navbar li a{
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    padding: 7px  11px;
}

#navbar li a:hover{
    color: black;
    
}

#introSection{
    padding-bottom: 40px;
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Baloo 2', cursive;
    background: center/ cover  no-repeat url("/static/bg.jpg");
    height: 425px;
    font-size: 65px;
    background-color: red;
}

#introSection div.small{
    font-size: 52px;
    padding: 5px;
} 
#missionSection{
    display: block;
    width: 67%;
    margin: auto;
    height: 326px;
    background-color: #efbd6d6c;
}
#missionSection h2{
    font-size: 42px;
    font-family: 'Yeon Sung';
    text-align: center;
    padding-top: 12px;
}
#sponsors{
    height: 120px;
    max-width: 1000px;
    margin: auto;
}
.spImage{
    height: 120%;
    margin: 20px;
    /*margin: 10px 20px 0px 10px;*/
}
.card{
    display: inline-block;
    border: 2px solid black;
    border-radius: 10px;
    width: 30%;
    margin: 23px 12px;
    height:209px ;
    background-color: rgb(208, 79, 174);
}
.card h3{
    text-align: center;
    margin:0px 12px ;
    margin-top: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
.card-box{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.card-img img{
     height: 100px;
     width: auto;
}
.card-content{
     padding: 10px;
}
.card-content p{
    font-size: 19px;
}
#sponsorSection{
     height: 300px;
     background-color: rgb(227, 119, 115);

}
#sponsorSection h2{
    font-size: 'Yeon Sung';
    text-align: center;
    padding-top: 12px;
}

#footer{
    display: flex;
     height: 60px;
     background-color:black;
     font-size: 20px;
     font-family: 'young sung';
     color: white;
     align-items: center;
     justify-content: center;
     
}